@inherits TitleBreadcrumbsBase

<div class="d-flex justify-space-between">
    <MudText Typo="Typo.h5">
        @TitlePage
    </MudText>
    <MudBreadcrumbs Items="ListBreadcrumbs"></MudBreadcrumbs>
</div>